* {
    box-sizing: border-box;
}
html {
    height: 100%;
    font-family: Arial, sans-serif;
}
@font-face {
    font-family: Ubuntu;
    src: url(../font/Ubuntu/Ubuntu-Light.ttf);
}
body {
    height: 85%;
    height: 850px;
    max-width: 900px;
    margin: 50px auto;
    border: 15px solid var(--prim);
}
.release {
    font-family: Ubuntu;
    line-height: 0.5rem;
    position: absolute; top: 0px; left: 10px;
}
.angemeldetAls {
    margin: 20px;
}
#chatBoxDIV {
    height: 77%;
    padding: 10px;
    margin: 20px;
    overflow: auto;
    border: 3px solid var(--prim);
}
.messageDIV {
    width: fit-content;
    padding: 1px 10px;
    border-radius: 5px;
    border: 3px solid white;
}
.messageMitImg {
    padding: 20px 20px 0 20px;
}
.messageTime {
    color: gray;
    font-size: x-small;
}
.messageMitImg .messageTime {
    position: relative; bottom: 13px;
}
.form {
    padding: 0 20px;
}
input, button {
    padding: 5px;
    color: black;
    font-size: large;
}
input:focus {
    border: 0;
}
label {
    color: #fff;
    cursor: pointer;
    padding: 9px 10px;
    border-radius: 5px;
    background-color: var(--prim);
}
#fileToUpload {
    opacity: 0;
    z-index: -1;
    position: absolute;
}
input[type=text] {
    width: 674px;
}
#scrollButton, input[type=submit] {
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #999;
    background-color: transparent;
}
#scrollButton {
    width: 100%;
    background-color: #f1f1f1;
}
.version {
    width: 100%;
    font-size: small;
    color: #585858;
    text-align: center;
    margin-bottom: 10px;
    position: absolute; left: 0; bottom: 0;
    /* border: 1px solid black; */
  }

@media only screen and (max-width: 900px) {
    *, html, button, input {
        font-size: small;
    }
    .release {
        display: none;
    }
    body {
        height: 90%;
        min-width: 400px;
        margin: 20px auto;
        border: 0 solid var(--prim);
    }
    #chatBoxDIV {
        height: 70%;
        margin: 0 20px 20px 20px;
    }
    input[type=text] {
        width: 241px;
    }
}

:root {
    --prim: pink;
}