* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html {
    height: 100vh;
}
body {
    height: 85%;
    height: 850px;
    width: fit-content;
    margin: 50px auto !important;
    border: 15px solid var(--prim);
}
#chatBoxDIV {
    height: 83%;
    padding: 20px;
    margin: 20px;
    overflow: auto;
    border: 3px solid var(--prim);
}
.form {
    padding: 0 20px;
}
input, button {
    padding: 5px;
    color: black;
    font-size: large;
}
input:focus {
    border: 0;
}
input[type=text] {
    width: 620px;
}
button, input[type=submit] {
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #999;
    background-color: transparent;
}
button {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    *, input {
        font-size: small;
    }
    body {
        height: 90%;
        width: 100%;
        border: 0px solid black;
    }
    #chatBoxDIV {
        width: 90%;
        margin: 0 20px;
    }
    input[type=text] {
        width: 81%;
    }
}

:root {
    --prim: pink;
}