* {
    box-sizing: border-box;
}
html {
    height: 100%;
    font-family: Arial, sans-serif;
}
@font-face {
    font-family: Ubuntu;
    src: url(../font/Ubuntu/Ubuntu-Light.ttf);
}
body {
    height: 880px;
    max-width: 900px;
    margin: 50px auto;
    border: 15px solid var(--prim);
}
.release {
    max-width: 20%;
    font-family: Ubuntu;
    line-height: 1em;
    position: absolute; top: 0px; left: 10px;
}
.angemeldetAls {
    margin: 10px 20px;
}
.chatBoxDIV {
    height: 80%;
    padding: 10px;
    margin: 0 20px;
    overflow: auto;
    border: 3px solid var(--prim);
}
.messageDIV {
    width: fit-content;
    padding: 2px 5px;
    border-radius: 7px;
    border: 3px solid white;
}
.messageMitImg {
    padding: 20px 20px 0 20px;
}
.messageTime {
    color: gray;
    font-size: x-small;
}
.messageMitImg .messageTime {
    position: relative; bottom: 13px;
}
form {
    margin: 20px;
}
.grid-container {
    gap: 10px;
    display: grid;
    grid-template-columns: 75px auto 75px;
}
input, button {
    font-size: large;
}
input[type=text]:focus {
    border: 0;
}
label[for=fileToUpload] {
    color: #fff;
    cursor: pointer;
    padding: 9px 10px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--prim);
}
input[type=file] {
    opacity: 0;
    z-index: -1;
    position: absolute;
}
input[type=submit] {
    color: #000;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: transparent;
}
.zurück {
    border: 0;
    width: 100%;
    padding: 6px;
    color: #fff;
    cursor: pointer;
    margin: 20px 0;
    background-color: var(--prim);
}
.version {
    width: 100%;
    font-size: small;
    color: #585858;
    text-align: center;
    margin-bottom: 5px;
    position: absolute; left: 0; bottom: 0;
  }

@media only screen and (max-width: 1500px) {
    .release {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    *, html, button, input {
        font-size: small;
    }
    body {
        height: 90%;
        margin: 20px auto;
        border: 0 solid var(--prim);
    }
    .chatBoxDIV {
        margin: 0 20px 20px 20px;
    }
    .grid-container {
        gap: 5px;
        grid-template-columns: 70px auto 70px;
    }
}

:root {
    --prim: pink;
}